@import './properties';

.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1em 0.5 em;

    &:first-child{
        margin-left:1em;
        
    }

    &:last-child{
        margin-right:1em;
    }

    .accountName{
        background-color :white;
        font-size:10px;
        margin: 0.4em;
    }
}